/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 2.7% 0 3% 0;
	border-bottom: 3px solid #931420;
		background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 3.5%;
}
.shadow {
	text-shadow: 0.3% 0.3% 0.3% #800000;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 66%;
	float: right;
	padding: 0 2% 2% 2%;
}
section h1 {
	color: #800000;
	font-size: 150%;
	padding-top: 0.9%;
	margin: 0;
}
section p {
	padding-bottom: 0.93%;
}

/* the styles for the article */
article {
	padding: 0.93% 0;
}
article h2 {
	font-size: 115%;
	padding: 0 0 .46% 0;
}
article img {
	float: right;
    width:50%;
	margin: 1.8% 0 1.8% 1.8%;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 22%;
	float: right;
	padding: 0 0 2.3% 2.3%;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: 1.1% 0 1.1% 0;
}

aside h3 {
	font-size: 100%;
	padding-bottom: 0.4%;
}
aside img {
	padding-bottom: 1.8%;
}

/* the styles for the navigation list */
#nav_list ul { 
	list-style: none;
	margin-left: 0;
	margin-bottom: 9%; }
#nav_list ul li { 
	width: 90%;
	margin-bottom: 3%;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 #800000;
	background-image: url("../images/right.jpg");
	background-repeat: no-repeat;
	background-position: 95% center;
}
#nav_list ul li a {
	display: block;
	padding: 3% 0 3% 3%;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#nav_list ul li a.current {
	color: #800000;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 0.9% 0;
}
@media only screen and (max-width: 850px) {
    body {
        font-size: 90%;
    }
    
    #nav_list ul li { 
        border: none;
        box-shadow: none;
       background-image: none;
	width: 90%;
	margin-bottom: 3%;
	
	
}
}